/*Diferença de classe para id é que a classe pode ser usada diversas vezes no meu código enquanto meu id só pode 
ser utilizado apenas uma vez

Quanto mais especifico mais prioridade no meu CSS*/

/*Uma das formas de adicionar cores no css são pelo nome de cada cor ou caso você queira uma cor mais específica 
utilizamos o RGB que é uma graduação de cores que vai de 0 a 255
ou podemos utilizar cores no formato hexadecimal;
Já o RGBA funciona de forma diferente por que o A vem de alfa onde acrescento uma transparência na minha cor
*/

p{
    color: blue;
    background-color: yellow;
}

#paragrafo1{
    color: red;
    background-color: #FF6400;
}

.fundo-azul{
    background-color: blue;
    color: pink;
}

.texto-amarelo{
    color: yellow;
}