#azul{
    width: 50vw;
    height: 30vw;
    background-color: blue;
}

#vermelho{
    width: 50vw;
    height: 30vw;
    background-color: red;
}

/*Ela vai ocupar metade do tamanho da tag pai dela*/
.foto{
    width: 50%;
}