/*Posso mudar o estilo do marcador da minha lista com a propriedade 
list-style */
body {
    margin: 0;
    padding: 0;
}

ul {
    list-style: circle;
    /*Com esta propriedade abaixo eu consigo adicionar uma imagem 
    no estilo da lista*/
    /*list-style-image: url();
    border: 2px solid;
    padding: 0;
    margin: 0 100px 0 100px;*/
}

ol {
    list-style: upper-alpha;
    background-color: #09c;
    padding: 30px;
}

li {
    margin: 10px;
    padding: 10px;
    background-color: aquamarine;
    border-radius: 5px;
}