.body {
    margin: 0;
    padding: 0;
}

.card {
    background-color: #eee;
    width: 500px;
    margin: auto;
    padding: 30px;
}

li {
    background-color: #cceaff;
    border: 1px solid #5ca8ef;
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    /*Para auterar o meu cursor eu uso a propriedade cursor que tem diversos 
    valores para cursor incluindo imagens que eu posso adicionar*/
    cursor: pointer;
}

ol {
    padding: 30px;
    list-style: upper-alpha;
}