/*Sim, eu posso adicionar uma imagem no meu projeto direto pelo CSS utilizando o 
background-image*/

/*Também posso adicionar a imagem no body e assim ela irá cobrir a página inteira*/
/*A característica do background-image é repetir a imagem até cobrir todo o espaço disponível*/
/*Para editar o tamanho da imagem podemos utilizar o background-size*/

div {
    width: 500px;
    height: 300px;
    background-color: #BB0044;
    background-image: url('./images/Fundo_Abstrato.jpg');
    /*background-size: cover;*/
    background-repeat: no-repeat;
    background-position: center center;
}

p{
    width: 300px;
    background-attachment: fixed;
    background-color: aquamarine;
}